*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.js.py
*.bat
dist
tmp
*/SciTE.session
default.db
media/cache
docs/dl/*
lino.egg-info
docs/.build
htmlcov
warnings_linkcheck.txt
.DS_Store
.idea
docs/api/lino_cosi.*
docs/rss_entry_fragments/
*.egg-info
.doctrees